services:
  - type: web
    name: corridarun
    runtime: docker
    plan: starter
    region: oregon
    branch: main
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: APP_NAME
        value: CorridaRun
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_URL
        sync: false
      - key: APP_KEY
        generateValue: true
      - key: LOG_CHANNEL
        value: stack
      - key: LOG_LEVEL
        value: error
      - key: DB_CONNECTION
        value: pgsql
      - key: DATABASE_URL
        fromDatabase:
          name: corridarun-db
          property: connectionString
      - key: CACHE_DRIVER
        value: file
      - key: QUEUE_CONNECTION
        value: database
      - key: SESSION_DRIVER
        value: file
      - key: SESSION_LIFETIME
        value: 120
      - key: FILESYSTEM_DISK
        value: local
    disk:
      name: storage
      mountPath: /var/www/html/storage/app
      sizeGB: 10

databases:
  - name: corridarun-db
    databaseName: corridarun
    user: corridarun
    plan: starter
    region: oregon
